#root {
  display: flex;
  flex-direction: column;
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#choose-cipher-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 15px 25px 20px;
  margin-top: 50px;
}

#choose-cipher-text {
  margin-bottom: 12px;
}

#body {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

#column-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  font-size: larger;
  font-weight: 700;
  margin-bottom: 10px;
}

#inputContainer {
  display: block;
  width: 500px;
  height: 100px;
  border-radius: 7px;
  padding: 15px 25px;
}

#error-hill {
  color: red;
}

#resultTextContainer {
  background-color: lightblue;
  border-radius: 7px;
  padding: 15px 25px;
  width: 500px;
  height: 100px;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

#checkboxButton {
  /* Disable default button style */
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#checkboxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 5px;
}

#checkboxIcon {
  width: 20px;
  height: 20px;
}

#grid-container-2 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 10px;
}

#grid-container-3 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}